.contain {
    width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
  }
  .notificationicon {
    height: 44px;
    position: absolute;
    top: 20px;
    left: 170px;
  }
  .notificationicon:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  .notificationicon:hover i {
    color: #fff;
  }
  .notificationicon.on i {
    color: #ddd;
  }
  .notifications {
    max-width: 300px;
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0px;
    box-shadow: 0px 0px 20px #666;
    position: absolute;
    opacity: 1;
    top: 65px;
    transition: .2s;
    opacity: 0;
 
    z-index: 500;
  }
  .notifications:before {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    top: -20px;
    left: 140px;
    border: 10px solid #fff;
    border-color: transparent transparent #fff transparent;
  }
  .notifications.open {
    opacity: 1;
    transition: .2s;
  }
  .notifications li {
    padding: 5px;
    list-style-type: none;
  }
  .notifications li.titlebar {
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 12px;
    cursor: inherit;
    padding: 2px 5px;
  }
  .notifications li.titlebar:hover {
    background: #fff;
  }
  .notifications li.titlebar .settings {
    float: right;
    cursor: pointer;
  }
  .notifications li.seeall {
    text-align: center;
    font-size: 12px;
    min-height: 30px;
    text-transform: uppercase;
    position: relative;
    border-top: 1px solid #ccc;
  }
  .notifications li.seeall a {
    background: #f5f5f5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #007fff;
    padding-top: 8px;
  }
  .notifications .notifbox {
    max-height: 300px;
    overflow: auto;
  }
  .notifications .notifbox li {
    color: #666;
  }
  .notifications .notifbox li a {
    color: #666;
  }
  .notifications .notifbox li.unread {
    background: #e5f2ff;
  }
  .notifications .notifbox li.notif {
    min-height: 70px;
    border-bottom: 1px solid #ccc;
    position: relative;
  }
  .notifications .notifbox li.notif:last-child {
    border-bottom: none;
  }
  .notifications .notifbox li.notif .imageblock {
    width: 70px;
    position: absolute;
    left: 5px;
  }
  .notifications .notifbox li.notif .imageblock .notifimage {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .notifications .notifbox li.notif .messageblock {
    width: 200px;
    position: relative;
    left: 70px;
    font-size: 12px;
  }
  .notifications .notifbox li.notif .messageblock .message a {
    color: #007fff;
  }
  .notifications .notifbox li.notif .messageblock .messageaction {
    min-height: 30px;
    margin-bottom: 5px;
  }
  .notifications .notifbox li.notif .messageblock .messageaction .button {
    font-weight: normal;
    text-transform: uppercase;
  }
  .notifications .notifbox li.notif .messageblock .messageaction .button.success,
  .notifications .notifbox li.notif .messageblock .messageaction .button.alert {
    color: #fff;
  }
  .notifications .notifbox li.notif .messageblock .messageinfo {
    font-size: 10px;
    color: #999;
  }
  .badge1 {
    position: absolute;
    top: 30px;
    right: -20px;
  }
  