<div id="sticky-sidebar">
    <h4 class="grey">Sarah's activity</h4>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
        <p class="text-muted">5 mins ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
        <p class="text-muted">an hour ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
        <p class="text-muted">4 hours ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
        <p class="text-muted">a day ago</p>
      </div>
    </div>
  </div>