<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <form action="/editprofile/album/add" method="POST" enctype="multipart/form-data" id="addToGUp">
      <input type="file" name="imageUp" id="imageUp" accept="image/*;capture=camera"  style="display: none;" />
  </form>
    <button style="width:100%;border-radius: 1px;border:solid 1px black;border-bottom: 0px;" class="btn btn-primary" id="upload">Upload</button>
    <button style="width:100%;border-radius: 1px;border:solid 1px black;background-color: rgb(79, 194, 79);" class="btn btn-primary" id="addImg">Add Image</button>
  </div>
  <div class="col-md-1"></div>
</div>
<input type="file" name="imageUp" id="imageUp" style="display: none;">
<div class="row">

  <div class="col-md-12">
    <h4 style="color:black">Press "<b style="color:white;background-color:#126d94"> Upload </b>" to import your image from your device.((.png),.(jpg),(.jpeg) Accepted Only)</h4>
    <h4 style="color:black">Press "<b style="color:white;background-color:rgb(79, 194, 79)"> Add Image </b>" to add the image uplaoded to your album publicly.</h4>

    <h4 style="color:black">Press "<b style="color:white;background-color:#27aae1"> SELECT </b>" to make the image selected as Profile Picture.</h4>
    <h4  style="color:black">Press "<b style="color:white;background-color: black;"> Delete </b>" to remove the image selected from your album.</h4>

    </div>

</div>
<ul class="album-photos" id="album-photos">

  </ul>
<script>
  var i = 0;
$('#upload').on('click', function(){
  $('#imageUp').trigger('click'); 
})
/* ################################################## */
/* ################################################## */

$('#addImg').on('click', function(){
  var form = new FormData(); 
  form.append("myImage", $("#imageUp")[0].files[0]);
  $.ajax({
    url: "/editprofile/album/add",
    type: "POST",
    data: form,
    success: function (msg) {
      if(msg == 'Forbidden Access #1337')
      location.reload();
      else
      {
        alert(msg);
      fetch_album();
      $('#imageUp').val(''); 
      }

    },
    cache: false,
    contentType: false,
    processData: false
  });
})
/* ################################################## */
/* ################################################## */
function fetch_album()
{
  $.post('/editprofile/album', function(pic){
var i = 0;

if(pic !== '0')
{
  $('#album-photos').html('');
  pic.forEach(el =>{
    i++;
    var myvar = '<li id="li'+el.id+'">'+
'      <div class="img-wrapper" data-toggle="modal" data-target=".photo-'+i+'" ">'+
'        <img src="/uploads/'+el.name+'" alt="photo" style="height:150px" />'+
'      </div>'+
'      <button pic='+el.id+' name="'+el.name+'" style="width:100%;border-radius: 0px;" class="btn btn-primary selectP">Select</button>'+
'      <button pic='+el.id+' name="'+el.name+'" style="width:100%;border-radius: 0px;background-color: black;" class="btn btn-primary deleteP">Delete</button>'+
'      <div class="modal fade photo-'+i+'" tabindex="-1" role="dialog" aria-hidden="true">'+
'        <div class="modal-dialog modal-lg">'+
'          <div class="modal-content">'+
'            <img src="/uploads/'+el.name+'" alt="photo" />'+
'          </div>'+
'        </div>'+
'      </div>'+
'    </li>';
$('#album-photos').append(myvar);
	
  })


  $('.selectP').on('click', function(e){
    var pic = e.delegateTarget.attributes.pic.value;
    var src = e.delegateTarget.attributes.name.value;
   
    $('.pdp').attr('src','/uploads/'+src )
    $.post('/editprofile/album/swap', {idP: pic}, function(row){
      
    })
})
$('.deleteP').on('click', function(e){
  if(i > 1)
  {
    var pic = e.delegateTarget.attributes.pic.value;
    $('#li'+ pic).slideUp("slow");
    $.post('/editprofile/album/delete',{idP: pic}, function(row){
      fetch_album();
    });
  }

})

}

})
}
fetch_album()
/* ################################################## */
/* ################################################## */


/* ################################################## */
/* ################################################## */

</script>