<div class="row">
    <h3>You Can have up to 7 tags in total</h3>
    <div class="col-md tags" id="tagsD1">

    </div>
  </div>
  <div>
  <input type="text" name="tags" class="select" id="typetag1" placeholder="write a prefered tag ..."/></div>
  <script>
  </script>