<div class="row">
    <h3>You Can have up to 7 tags in total</h3>
    <div class="col-md tags" id="tagsD">

    </div>
  </div>
  <div>
  <input type="text" name="tags" class="select" id="typetag" placeholder="write your tag here ..."/></div>
  <p style="color:red">a TAG should be 3-13 length and alpha-num only , (e.g : 1337, Morocco, Codam, Travel ...)</p>
  <button id="saveTag" class="col-md-12 btn-primary" style="font-size: 20px;" style="display: none;">Save Tags</button>


  <script>
  
  </script>