<div class="well">
    <h4 style="color:black;font-size:25px;font-weight: 30px;">Rate me :</h4>
     <hr>
     
<section class='rating-widget'>

<!-- Rating Stars Box -->
<div class='rating-stars text-center'>
<ul id='stars'>
<li class='star' title='Poor' id="star1" data-value='1'>
<i class='fa fa-star fa-fw' ></i>
</li>

<li class='star star2 ' title='Fair'  id="star2"  data-value='2'>
<i class='fa fa-star fa-fw' ></i>
</li>
<li class='star' title='Good' data-value='3'>
<i class='fa fa-star fa-fw'></i>
</li>
<li class='star' title='Excellent' data-value='4'>
<i class='fa fa-star fa-fw'></i>
</li>
<li class='star' title='WOW!!!' data-value='5'>
<i class='fa fa-star fa-fw'></i>
</li>
</ul>
</div>


</section>

<p style="font-size: 20px; color:rgb(7, 182, 7)" id="msgRate"></p>


   </div>
   <script>

   </script>
   <!-- <div class="well">
      
     <h4 style="color:black;font-size:25px;font-weight: 30px;">Fame :</h4>
     <h4 style="color:black;font-size:25px;font-weight: 30px;">4/5</h4>
     in avrage


   </div> -->

